/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

body{
  font-family: var(--primary-font);
}
:root{
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Bebas Neue', cursive;
  --optional-font: 'Montserrat', sans-serif;
  --primary-font-color: #3E3E3E;
  --secondary-font-color: #363958;
  --menu-color: #3C3C3C;
}

/* ========================= */
  /* Utilities CSS */
/* ========================= */
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}




/* ========================= */
  /* Header Area CSS */
/* ========================= */
.header .navbar {
  padding: 39px 0;
}
.header .navbar-nav .nav-link{
  color: var(--menu-color);
  margin-left: 20px;
}