/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

body{
  font-family: var(--primary-font);
}
:root{
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Bebas Neue', cursive;
  --primary-font-color: #3E3E3E;
  --secondary-font-color: #363958;
  --menu-color: #3C3C3C;
  --button-bg-color: #A4BC46;
  --button-font-color: #FFFFFF;
}

/* ========================= */
  /* Utilities CSS */
/* ========================= */
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.cmn-btn {
  display: inline-block;
  background-color: var(--button-bg-color);
  padding: 18px 34px;
  border-radius: 10px;
  color: var(--button-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all .5s ease;
}
.cmn-btn:hover{
  background: var(--secondary-font-color);
  color: var(--button-font-color);
}
.cmn-btn i {
  margin-right: 10px;
  font-size: 18px;
  color: var(--button-font-color);
}
.cmn-margin{
  margin: 60px 0;
}
.section-title {
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 58px;
  color: var(--secondary-font-color);
  margin-bottom: 40px;
}

/* ========================= */
  /* Header Area CSS */
/* ========================= */
.header {
  background: #FFFBF0;
  padding-bottom: 80px;
}
.header .navbar {
  padding: 39px 0;
}
.header .navbar-nav .nav-link{
  color: var(--menu-color);
  margin-left: 20px;
}

.main h1 {
  font-size: 80px;
  line-height: 96px;
  text-transform: uppercase;
  color: #FABE4C;
  font-family: var(--secondary-font);
}

.main h1 > span {
  color: var(--secondary-font-color);
}
.main p{
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-font-color);
}


/* ========================= */
  /* Women Area CSS */
/* ========================= */
.women p{
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-font-color);
}

.women-card {
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(27, 2, 2, 0.25);
  border-radius: 20px;
}
.women .price {
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #FABE4C;
}

.women-card img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 30px;
  background: #F1F1F1;
  border-radius: 10px;
  padding: 5px 40px;
}
.women-card .product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-font-color)
}
.women-card p{
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-font-color);
}
.women-card .cmn-btn{
  padding: 10px 24px;
}

/* ========================= */
  /* Contact Area CSS */
/* ========================= */
.contact {
  margin-bottom: 120px;
}
.contact-detail {
  padding: 10px 30px;
  box-shadow: 0px 10px 30px rgba(27, 2, 2, 0.25);
  border-radius: 20px;
}
.contact-content {
  padding: 10px 20px;
}
.contact-content img {
  margin-top: -10px;
}
.contact-content h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-font-color);
}
.contact-content p{
  font-size: 16px;
  margin-bottom: 0;
  line-height: 26px;
  color: var(--primary-font-color);
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .cmn-btn {
    padding: 8px 16px;
  }
  .women-card .cmn-btn {
    padding: 6px 10px;
  }
  .cmn-btn i{
    font-size: 16px;
  }
}